/* Coolors Exported Palette - coolors.co/c27b47-ffffff-43747c-030013-f6c880 */

/* HSL */
$color1: hsla(25%, 50%, 52%, 1);
$color2: hsla(0%, 0%, 100%, 1);
$color3: hsla(188%, 30%, 37%, 1);
$color4: hsla(249%, 100%, 4%, 1);
$color5: hsla(37%, 87%, 73%, 1);

/* RGB */
$color1: rgba(194, 123, 71, 1);
$color2: rgba(255, 255, 255, 1);
$color3: rgba(67, 116, 124, 1);
$color4: rgba(3, 0, 19, 1);
$color5: rgba(246, 200, 128, 1);