/* font-family: 'Montserrat', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Playfair Display', serif; */
@import url('https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Playfair+Display');
@import 'palette';
@import 'reset';

body {
    background: #000;

    .kontainer {
        width: 1280px;
        height: 724px;
        background-image: url("../images/bg_1.png");
        margin: auto;

        header {
            background: #FFF;
            height: 76px;
            display: grid;
            grid-template-columns: auto auto;
            justify-content: space-between;
            font-family: 'Montserrat', sans-serif;

            h1 {
                color: $color4;
                margin: 10px;
                text-decoration: underline;
            }

            nav {
                margin: 20px;

                a {
                    color: $color3;
                    margin: 10px;
                }
            }
        }

        main {
            display: grid;
            grid-template-columns: auto auto;
            justify-content: space-between;
            padding: 20px;

            .karta {
                form {
                    color: #FFF;

                    input {}

                    img {}

                    input[type="text"] {
                        float: right;
                        width: 250px;
                        border-radius: 6px;
                    }
                }
            }

            .info {
                width: 359px;
                background-color: rgba(255, 255, 255, 0.486);
                padding: 30px;
                border-radius: 20px;
                margin-top: 25px;
                padding: 20px;

                h2 {
                    font-family: 'Montserrat', sans-serif;
                    text-align: center;
                    text-decoration: underline;
                }

                p {
                    font-family: 'Merriweather', serif;
                    line-height: 30px;
                    margin-top: 20px;
                }

                img {
                    width: 40px;
                    margin: 110px 15px 15px 15px;
                }

                a {
                    margin: 110px 10px 10px 110px;
                    width: 0px;
                    background-color: black;
                    color: white;
                    padding: 14px 25px;
                    text-align: center;
                    text-decoration: none;
                }
                a:hover {
                    color: grey;
                }
            }

            .bild {
                padding: 30px;
                margin-top: 25px;
                padding: 20px;
            }

            .meny {
                width: 359px;
                background-color: rgba(255, 255, 255, 0.486);
                border-radius: 10px;
                margin-bottom: 40px;
                margin-top: 42px;
                padding: 9px;

                h1 {
                    font-family: 'Montserrat', sans-serif;
                    text-align: center;
                    text-decoration: underline;
                }

                h2 {
                    text-decoration: underline;
                }

                p {
                    font-family: 'Merriweather', serif;
                    font-size: 12px;
                    font-weight: bold;
                }
            }
        }

        #form {
            width: 359px;
            background-color: rgba(255, 255, 255, 0.486);
            padding: 50px;
            margin-top: 100px;
            margin-left: 60px;
            padding: 20px;

            label {
                font-family: 'Montserrat', sans-serif;
                font-size: 20px;
                margin: 30px;
            }

            input {
                margin-left: 30px;
                margin-bottom: 15px;
            }

            button {
                margin-left: 30px;
                margin-top: 10px;
            }
        }
    }
}