/* font-family: 'Montserrat', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Playfair Display', serif; */
@import url("https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Playfair+Display");
/* Coolors Exported Palette - coolors.co/c27b47-ffffff-43747c-030013-f6c880 */
/* HSL */
/* RGB */
/* Enkel CSS-reset */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0;
}

body {
  background: #000;
}

body .kontainer {
  width: 1280px;
  height: 724px;
  background-image: url("../images/bg_1.png");
  margin: auto;
}

body .kontainer header {
  background: #FFF;
  height: 76px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Montserrat', sans-serif;
}

body .kontainer header h1 {
  color: #030013;
  margin: 10px;
  text-decoration: underline;
}

body .kontainer header nav {
  margin: 20px;
}

body .kontainer header nav a {
  color: #43747c;
  margin: 10px;
}

body .kontainer main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
}

body .kontainer main .karta form {
  color: #FFF;
}

body .kontainer main .karta form input[type="text"] {
  float: right;
  width: 250px;
  border-radius: 6px;
}

body .kontainer main .info {
  width: 359px;
  background-color: rgba(255, 255, 255, 0.486);
  padding: 30px;
  border-radius: 20px;
  margin-top: 25px;
  padding: 20px;
}

body .kontainer main .info h2 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  text-decoration: underline;
}

body .kontainer main .info p {
  font-family: 'Merriweather', serif;
  line-height: 30px;
  margin-top: 20px;
}

body .kontainer main .info button {
  width: 80px;
  margin: 110px auto 10px 110px;
  display: block;
}

body .kontainer main .info img {
  width: 40px;
  margin: 130px 9px 9px 9px;
}

body .kontainer main .bild {
  padding: 30px;
  margin-top: 25px;
  padding: 20px;
}

body .kontainer main .meny {
  width: 359px;
  background-color: rgba(255, 255, 255, 0.486);
  border-radius: 10px;
  margin-bottom: 40px;
  margin-top: 42px;
  padding: 9px;
}

body .kontainer main .meny h1 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  text-decoration: underline;
}

body .kontainer main .meny h2 {
  text-decoration: underline;
}

body .kontainer main .meny p {
  font-family: 'Merriweather', serif;
  font-size: 12px;
  font-weight: bold;
}

body .kontainer #form {
  width: 359px;
  background-color: rgba(255, 255, 255, 0.486);
  padding: 50px;
  margin-top: 100px;
  margin-left: 60px;
  padding: 20px;
}

body .kontainer #form label {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  margin: 30px;
}

body .kontainer #form input {
  margin-left: 30px;
  margin-bottom: 15px;
}

body .kontainer #form button {
  margin-left: 30px;
  margin-top: 10px;
}
/*# sourceMappingURL=style.css.map */