
/* font-family: 'Montserrat', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Playfair Display', serif; */
@import url('https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Playfair+Display');
@import 'palette';
@import 'reset';

body {
    background: #000;
    
    .kontainer {
        width: 1280px;
        height: 724px;
        background-image: url("../images/bg_1.png");
        margin: auto;
        header {
            background: #FFF;
            height: 76px;
            display: grid;
            grid-template-columns: auto auto;
            justify-content: space-between;
            font-family: 'Montserrat', sans-serif;
            h1 {
                color: $color4;
                margin: 10px;
            }
            nav {
                margin: 20px;
                a {
                    color: $color3;
                    margin: 10px;
                }
            }
        }
        main {
            display: grid;
            grid-template-columns: auto auto;
            justify-content: space-between;
            padding: 20px;
            .karta{
                form {
                    color: #FFF;
                    input{
                    }
                    img {
                        
                    }
                    input[type="text"] {
                        float: right;
                        width: 250px;
                        border-radius: 6px;
                    }
                }
            }
            .info {
                width: 359px;
                background-color: rgba(255, 255, 255, 0.486);
                padding: 30px;
                border-radius: 20px;
                margin-top: 25px;
                h2 {
                    font-family: 'Montserrat', sans-serif;
                    text-align: center;
                }
                p {
                    font-family: 'Merriweather', serif;
                }
                button {

                }
                img {
                    width: 40px;
                    margin-bottom: 30px;
                }
            }
        }
    }
}

